{% extends 'Eshop/basic.html' %}
{% comment %} product view page {% endcomment %}

{% block title%}{{product.product_name}} - EasyShop{% endblock %}
{% block css %} 
<style>
    img{
        width: 580px;
    }
</style>
{% endblock %}

{% block main %}
<div class="container">



    <div class="h-100 p-5 text-white bg-dark rounded-3 my-4">
        <div class="row">
            <div class="col-md-6">
                <img src="/media/{{product.image}}" alt="">
            </div>
            <div class="col-md-6">
                <h2>{{product.product_name}}</h2>
                <p><b>Rs.{{product.price}}</b></p>
                <p>{{product.desc}}</p>
                
                <button type="button" class="btn btn-info">Add To Cart</button>
                <button type="button" class="btn btn-info">Buy Now</button>
            </div>

        </div>
    </div>

</div>
{% endblock %}